.background-image{
    background: url("../img/pexels-gustavo-fring-4173239.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    top: 80px;
    position: relative;
}
.background-content{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 50%;
    transform: translate(-80%);
}
.background-content h2{
    color: black;
    font-size: 45px;
    margin-bottom: 10px;
}
.background-content p{
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: black
}

.about{
    padding-top: 100px;
    padding-left: 50px;
}

.inner-about{
    display: flex;
}

.about-content{
    width: 98%;
}
.about-content h2{
    font-size: 40px;
    color: black;
}
.about-content p{
    font-size: 1.5rem;
}

.about img{
    width: 80%;
    padding-left: 100px;
    padding-top: 50px;
}

.main-services{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.inner-services-content{
    flex: 1 1 300px;
    padding: 1rem 3rem;
    text-align: center;
}
.inner-services-content h2{
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
}
.inner-services-content p{
    font-size: 1.2rem;
    line-height: 2;
}


.gallery{
    padding: 4rem 7%;
}
.gallery h2{
    color: black;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.inner-gallery{
    flex:1 1 300px;

}
.inner-gallery img{
    width: 100%;
    transition: .5s;
}
.inner-gallery img:hover{
    transform: scale(1.1);
    border-radius: 20px;
}

/* FOOTER */

.footerS{
    width: 100%;
    height: 10vh;
    background-color: hsl(232, 64%, 86%)
}
.footerS p{
    color: black;
    text-align: center;
    font-size: 18px;
    position: relative;
    top: 25px;
}
