<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

</head>

<body>


    <h1>Página de Inicio</h1>

    <p>Hola otra vez <span th:if="${logeado != null}" th:text="${logeado.username}"></span></p>

    <p sec:authorize="(hasRole('MODERATOR'))">Además si eres MODERATOR puedes ver ésto también!</p>

    <table>
        <thead>
            <th>Usuario</th>
            <th>Email</th>
            <th sec:authorize="(hasRole('MODERATOR'))">Borrar</th>
        </thead>
        <tbody th:if="${usuarios != null}" th:each="usuario : ${usuarios}">
            <td th:text="${usuario.getUsername()}"></td>
            <td th:text="${usuario.getEmail()}"></td>
            <td sec:authorize="(hasRole('MODERATOR'))">
                <form th:action="@{/admin/borrar/__${usuario.id}__}" method="post">
                    <button type="submit">X</button>
                </form>
            </td>
        </tbody>
    </table>

    <form th:action="@{/cerrar}" method="post">
        <button type="submit">Cerrar Sesión</button>
    </form>



</body>

</html>