<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="Complementos/head :: head"></div>
    <title>Agenda tu Cita</title>
</head>
<body>
    <header>
        <div th:replace="Complementos/header :: header"></div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h1 class="display-5 mb-5"><strong>Agendar Cita</strong></h1>
                </div>
            </div>
        </div>
        <hr>
        <form action="" class="row justify-content-center mb-4" id="formulario">

            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-2">
                    <h5><label for="">Especialidad :</label></h5>
                </div>
                <div class="col col-lg-3">
                    <select name="especialidadMedico" class="" id="option_especialidades" >
                    </select>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-lg-5">
                    <h6><p id="Rec_medico"></p></h6>
                </div>
            </div>
            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-2">
                    <h5><label for="">Medico :</label></h5>
                </div>
                <div class="col col-lg-3">
                    <select name="id_Medico" class="" id="option_medico" >

                    </select>
                </div>
            </div>
            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-5">
                    <h5><label for="">Fecha :</label></h5>
                    <input class="form-control" type="date"  id="fechaAtencion" name="fechaAtencion" >
                </div>
            </div>
            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-5">
                    <h5><label for="">Hora :</label></h5>
                    <input class="form-control" type="time"  id="horaAtencion" name="horaAtencion" >
                </div>
            </div>
            <div class="row justify-content-md-center my-3">

                <div class="col col-lg-5">
                    <h5><label for="">Observacion</label></h5>
                    <input class="form-control" type="textarea" placeholder="¿Deseas dejar una nota?" id="observaciones" name="observaciones"   >
                </div>
            </div>
            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-5 d-flex justify-content-center">
                    <input class="btn btn-success add-btn" type="submit" value="AGENDAR CITA" id="enviar">
                </div>
            </div>
            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-5">
                    <p id="respuesta"></p>
                </div>
            </div>

        </form>

    </div>


    <footer>
        <div th:replace="Complementos/footer :: footer"></div>
    </footer>
    <script src="assets/js/agendarenviar.js"></script>
    <script src="assets/js/agendarlistar.js"></script>
</body>

