<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="Complementos/head :: head"></div>
    <title>Especialidades</title>
</head>
<body>
    <header>
    <div th:replace="Complementos/headerAdmin :: header"></div>
    </header>

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <h1 class="display-5 mb-5"><strong>Especialidades</strong></h1>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
               <form action="" class="row justify-content-center mb-4" autocomplete="">
                  <div class="col-10 col-md-8 mb-3">
                     <label for="">ESPECIALIDAD</label>
                     <input class="form-control" type="text" placeholder="ID MÉDICO">
                  </div>
                  <div class="col-10 col-md-8 mb-3">
                     <label for="">ACTIVO</label>
                     <input class="form-control" type="text" placeholder="ID PACIENTE">
                  </div>
                  <div class="col-10 col-md-8">
                     <input class="btn btn-success add-btn" type="submit" value="ENVIAR">
                  </div>
               </form>
            </div>
            <div class="container">
            <div class="col-12">
               <table class="table table-striped table-white">
                  <thead>
                     <tr>
                        <th>ID</th>
                        <th>ESPECIALIDAD</th>
                         <th>FECHA REGISTRO</th>
                        <th>ACTIVO</th>
                        <th>ACCIONES</th>
                     </tr>
                  </thead>
                  <tbody class="student-list" id="tableBody_Especialidad">

                  </tbody>
               </table>
            </div>
        </div>
        </div>
    <footer>
        <div th:replace="Complementos/footer :: footer"></div>
    </footer>
    <script src="assets/js/especialidad.js"></script>
</body>

