<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="Complementos/head :: head"></div>
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>VidaSalud</title>
</head>

<body>



    <p class="error" th:if="${error!=null}" th:text="${error}"></p>
    <p class="exito" th:if="${exito!=null}" th:text="${exito}"></p>

    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image">
                    <!-------------      image     ------------->
                    <img src="assets/img/heroImg.png" alt="">
                </div>
                <div class="col-md-6 right">

                    <div class="input-box">

                        <form th:action="@{/login}" method="post">
                            <header>
                                <img class="logo" src="assets/img/logo.jpg" alt="">
                            </header>

                            <div class="input-field">
                                <input type="email" name="email" placeholder="Email" id="email" required><br>

                            </div>
                            <div class="input-field">
                                <input type="password" name="password" placeholder="Contraseña" id="pass"required ><br>

                            </div>
                            <div class="input-field">

                                <input type="submit" class="submit"  name="btm-login" value="Logeate">
                            </div>
                            <div class="signin">
                                <span>¿No tienes una cuenta? <a th:href="@{/registraruser}">Registrate</a>
                                    <br>
                                <span><a th:href="@{/}">Atras</a></span>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>