<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="Complementos/head :: head"></div>
    <title>VidaSalud</title>
    <link rel="stylesheet" href="assets/css/indexamd.css"/>
</head>
<body>
    <header>
        <div th:replace="Complementos/headerAdmin :: header"></div>
    </header>
    <section class="hero">
        <img src="assets/img/fondo_mant.png" alt="">
        <h1>SISTEMA DE MANTENIMIENTO VIDA SALUD</h1>
    </section>
    <footer>
        <div th:replace="Complementos/footer :: footer"></div>
    </footer>
</body>

</html>