<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <div th:replace="Complementos/head :: head"></div>
        <title>VidaSalud</title>
    </head>
    <body>
        <header>
            <div th:replace="Complementos/header :: header"></div>
        </header>

    <div class="background-image">
            <div class="background-content">
                <h2>Tu Clinica de confianza</h2>
                <p>Máxima precisión en tus análisis, sean de rutina o de alta complejidad, gracias a nuestros profesionales y nuestros equipos de última generación con reconocimiento a nivel mundial.</p>
            </div>
        </div>

        <div class="about">
            <div class="main-about">
                <div class="inner-about">
                    <div class="about-content">
                        <h2>Profesionales Altamente Capacitados</h2>
                    <p>Somos un grupo de profesionales altamente capacitados y experimentados. Contamos con más de 20 años de trayectoria profesional en el sector.</p>
                    </div>

                </div>
                <div class="inner-about">
                    <div class="inner-about-image">
                        <img src="assets/img/chiness.jpg" alt="">
                    </div>
                    <div class="inner-about-image">
                        <img src="assets/img/pexels-anthony-shkraba-6749770.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
            <div class="main-services">
                <div class="inner-services-content">
                    <h2>Años de trayectoria</h2>
                    <p>Somos un grupo de profesionales altamente capacitados y experimentados. Contamos con más de 20 años de trayectoria profesional en el sector.</p>
                </div>

                <div class="inner-services-content">
                    <h2>Tecnología de punta </h2>
                    <p>Gracias a la calidad de nuestros equipos de última generación, puede confiar en la precisión de sus resultados. Nos interesa su tranquilidad y su salud.</p>

                </div>

                <div class="inner-services-content">
                    <h2>Siempre a la vanguardia</h2>
                    <p>Estamos constantemente innovando para brindar el mejor servicio. Es fundamental en nuestra organización el confort y la eficiencia en la atención de pacientes y clientes.</p>
                </div>
            </div>
        </div>


        <div class="gallery">
            <h2>Galería</h2>
            <div class="main-gallery">
                <div class="inner-gallery">
                    <img src="assets/img/gal1.jpg" alt="">
                </div>

                <div class="inner-gallery">
                    <img src="assets/img/gal2.jpg" alt="">
                </div>

                <div class="inner-gallery">
                    <img src="assets/img/gal3.jpg" alt="">
                </div>

                <div class="inner-gallery">
                    <img src="assets/img/gal4.jpg" alt="">
                </div>

                <div class="inner-gallery">
                    <img src="assets/img/gal5.jpg" alt="">
                </div>

                <div class="inner-gallery">
                    <img src="assets/img/gal6.jpg" alt="">
                </div>
            </div>
        </div>

        <footer>
            <div th:replace="Complementos/footer :: footer"></div>
        </footer>
        <script src="assets/js/main.js"></script>
    </body>
</html>
