<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="Complementos/head :: head"></div>
    <title>Modificar Medico</title>
</head>
<body>

<header>
    <div th:replace="Complementos/headerAdmin :: header"></div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h1 class="display-5 mb-5"><strong>Modificar</strong></h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col">
        <form action="" class="row justify-content-center mb-4" id="formulario">
            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-2">
                    <h5><label for="">Nombre:</label></h5>
                </div>
                <div class="col col-lg-3" id="Nombre">

                </div>
            </div>


            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-2">
                    <h5><label for="">Apellido:</label></h5>
                </div>
                <div class="col col-lg-3" id="Apellido">
                </div>
            </div>

            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-2">
                    <h5><label for="">DNI: </label></h5>
                </div>
                <div class="col col-lg-3" id="DNI">
                </div>
            </div>

            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-2">
                    <h5><label for="">Direccion: </label></h5>
                </div>
                <div class="col col-lg-3" id="Direccion">
                </div>
            </div>

            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-2">
                    <h5><label for="">Email:</label></h5>
                </div>
                <div class="col col-lg-3" id="Email">
                </div>
            </div>



            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-2">
                    <h5><label for="">N° Colegiatura: </label></h5>
                </div>
                <div class="col col-lg-3" id="Colegiatura">
                </div>
            </div>

            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-2">
                    <h5><label for="">Genero:</label></h5>
                </div>
                <div class="col col-lg-3" id="Genero">

                </div>
            </div>

            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-2">
                    <h5><label for="">Telefono:</label></h5>
                </div>
                <div class="col col-lg-3" id="Telefono">

                </div>
            </div>
            <!--
            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-2">
                    <h5><label for="">Especialidad:</label></h5>
                </div>
                <div class="col col-lg-3" id="Especialidad">
                </div>
            </div> -->

            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-2">
                    <h5><label for="">Fecha Naciemiento:</label></h5>
                </div>
                <div class="col col-lg-3" id="FechaNacimiento">
                </div>
            </div>
            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-2">
                    <h5><label for="">Fecha Registro:</label></h5>
                </div>
                <div class="col col-lg-3" id="FechaRegistro">
                </div>
            </div>


            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-5 d-flex justify-content-center">
                    <input class="btn btn-success add-btn" type="submit" value="Guardar" id="guardar">
                </div>
            </div>
            <div class="row justify-content-md-center my-3">
                <div class="col col-lg-5">
                    <p id="respuesta"></p>
                </div>
            </div>
        </form>
    </div>
</div>


<footer>
    <div th:replace="Complementos/footer :: footer"></div>
</footer>

<script src="assets/js/ModMedico.js"></script>

</body>

