<header>
    <nav class="nav container">
        <img src="assets/img/LogoS.png" alt="" style="width: 80px;">
        <div class="nav__menu" id="nav-menu">
            <ul class="nav-list">
                <li class="nav__item">
                    <a th:href="@{/inicio}" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a th:href="@{/citas}" class="nav__link">Citas</a>
                    </from>
                </li>

                <li class="nav__item">
                    <a th:href="@{/pacientes}" class="nav__link">Pacientes</a>
                </li>

                <li class="nav__item">
                    <a th:href="@{/medicos}" class="nav__link">Médicos</a>
                </li>

                <li class="nav__item">
                    <a th:href="@{/especialistas}" class="nav__link">Especialidades</a>
                </li>

                <li th:if="${isLoggedIn}" class="nav__item">
                    <a th:href="@{cerrar}" class="nav__link">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>