<header>
    <nav class="nav container">
        <img src="assets/img/LogoS.png" alt="" style="width: 80px;">
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a th:href="@{/inicio}" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a th:href="@{/}" class="nav__link">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>