<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="Complementos/head :: head"></div>
    <title>Cardiologia</title>

    <link rel="stylesheet" href="assets/css/medicinaE.css" />
</head>
<body>

    <header>
        <div th:replace="Complementos/header :: header"></div>
    </header>


    <!--Button-->
    <button><a href="especialidades.html">Atrás</a></button>
    <!-- Doctors -->
    <section class="container_doctors">
        <div class="doctors_title">
            <div class="title_info">
                <h2>Cardiología</h2>
                <p>
                    Atención de las enfermedades del corazón y del aparato circulatorio
                </p>
            </div>
        </div>
        <div class="doctors_info">
            <div class="info_img">
                <img src="assets/img/cardiologia.png" alt="" />
            </div>
            <div class="info_text">
                <h3>Romero Salazar Marco Antonio</h3>
                <p>Colegiatura: 61629</p>
                <p>
                    <img src="assets/img/telefono.png" alt="" />(511) 244 2224 -
                    (511) 224 2226
                </p>
            </div>
        </div>
    </section>
    <!-- Educación profesional-->
    <section class="profesionalE">
        <h2>Educación Profesional</h2>
        <div class="table">
            <div class="table_left">
                <div class="left_img">
                    <img src="assets/img/icon.png" alt="" />
                    <p><span>Especialidad: </span>Cardiología</p>
                </div>
            </div>
            <div class="table_right">
                <p class="as"><span>Profesión: </span>Médico Cirujano</p>
            </div>
            <div class="table_left color1">
                <div class="left_img">
                    <img src="assets/img/icon.png" alt="" />
                    <p>Universidad Nacional Mayor De San Marcos</p>
                </div>
            </div>
            <div class="table_right color2">
                <p class="as"><span>1ra Especialización: </span>Cardiología</p>
            </div>
        </div>
    </section>



    <footer>
        <div th:replace="Complementos/footer :: footer"></div>
    </footer>
</body>