<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="Complementos/head :: head"></div>
    <title>Psicologia</title>

    <link rel="stylesheet" href="assets/css/medicinaE.css" />
</head>
<body>
    <header>
        <div th:replace="Complementos/header :: header"></div>
    </header>

    <!--Button-->
    <button><a href="especialidades.html">Atrás</a></button>
    <!-- Doctors -->
    <section class="container_doctors">
        <div class="doctors_title">
            <div class="title_info">
                <h2>Psicología</h2>
                <p>
                    Atención de trastornos de la conducta y procesos mentales de los
                    individuos y de grupos humanos en distintas situaciones
                </p>
            </div>
        </div>
        <div class="doctors_info">
            <div class="info_img">
                <img src="assets/img/psicologia1.png" alt="" />
            </div>
            <div class="info_text">
                <h3>Bravo De Rueda Ortega María Del Carmen</h3>
                <p>Colegiatura: 01935</p>
                <p>
                    <img src="assets/img/telefono.png" alt="" />(511) 244 2224 -
                    (511) 224 2226
                </p>
            </div>
        </div>
    </section>
    <!-- Educación profesional-->
    <section class="profesionalE">
        <h2>Educación Profesional</h2>
        <div class="table">
            <div class="table_left">
                <div class="left_img">
                    <img src="assets/img/icon.png" alt="" />
                    <p><span>Especialidad: </span>Psicología</p>
                </div>
            </div>
            <div class="table_right">
                <p class="as"><span>Profesión: </span>Psicólogo</p>
            </div>
            <div class="table_left color1">
                <div class="left_img">
                    <img src="assets/img/icon.png" alt="" />
                    <p>Universidad Femenina Del Sagrado Corazón</p>
                </div>
            </div>
            <div class="table_right color2">
                <p class="as">
                    <span>Maestría: </span>Psicología Clínica Y De Familia
                </p>
            </div>
            <div class="table_left">
                <div class="left_img">
                    <img src="assets/img/icon.png" alt="" />
                    <p>Universidad De San Martín De Porres</p>
                </div>
            </div>
            <div class="table_right">
                <p class="as"><span>Doctorado: </span>Psicología</p>
            </div>
            <div class="table_left color1">
                <div class="left_img">
                    <img src="assets/img/icon.png" alt="" />
                    <p>Universidad Femenina Del Sagrado Corazón</p>
                </div>
            </div>
            <div class="table_right color2">
                <p class="as">
                    <span>Maestría: </span>Psicología Clínica Y De La Salud
                </p>
            </div>
        </div>
    </section>

    <footer>
        <div th:replace="Complementos/footer :: footer"></div>
    </footer>
</body>